/**
 * GitHub Corners, page css
 * Author: Tim Holman
 */

 @import "corner.css";

:root {
  --black: #22272E;
  --white: #CDD9E5;
  --ice: #EBF1F6;
  --grey: #2D333B;
  --light-grey: #282E36;
  --dark-grey: #1C2128;
  --blue: #539BF5;
  --red: #E34C26;
  --green: #4A8B50;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

#header {
  background-color: var(--grey);
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
  margin: 10px;
}

.main-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: var(--black);
}

.container {
  display: flex;
  justify-content: space-around;
}

.in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-search {
  position: relative;
  width: 300px;
}

.custom-search-input {
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.custom-search-botton,
select {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: var(--green);
  color: var(--white);
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

.github-corner {
  width: 80px;
  height: 80px;
  fill: var(--green);
  color: var(--grey);
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
}

#head-title {
  color: var(--ice);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 28px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#output {
  color: var(--ice);
}

footer {
  color: var(--ice);
  background-color: var(--grey);
  height: 80px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 950px;
}

#white-rocket {
  display: block;
  margin-left: auto;
  margin-right: auto;
}