:root {
  --black: #1c2128;
  --lightgrey: #cdd9e5;
  --white: #f5f5f5;
  --darkgray: #2d333b;
  --purple: #6e5494;
  --blue: #4078c0;
  --green: #6cc644;
  --red: #bd2c00;
  --orange: #c9510c;
}

header {
  background-color: ;
}

body {
  /* background-color: #2C394B; */
}

#head-title {
  color: #FF4C29
}

.container {
  display: flex;
  /* flex-direction: row-reverse; */
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#user_input {
  border-color: transparent;
  flex: 1;
  max-width: 10rem;
}
